<ng-container *ngIf="!isXsDevice">
    <div class="sidebar-wapper" fxLayout="column" fxLayoutGap="10px">
        <button mat-flat-button color="primary">
            <span class="text-white-light">Popular</span>
        </button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>Basic</button>
      </div>
      
</ng-container>